backend/agent_packages/*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
/home/ubuntu/IDE/eai-idev2.0-main/backend/agent_packages/agent-linux-x86_64-0.1.31.tar.gz filter=lfs diff=lfs merge=lfs -text
